.nav {
    border-bottom: 1px solid #eaeaea;
}

/* .menu{
    display: none;
} */

/* #toggle{
    display: none;
} */

#warning-container {
    display: none;
}

.menu {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul {
    margin-right: 100px;
}

li {
    display: inline-block;

    list-style: none;
    padding: 15px 5px;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover {
    text-decoration: underline;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin: 0 0 2px 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown__hover {
    position: relative;
}

.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: bisque;
    border-top: 3px solid black;
}

.dropdown__menu a {
    display: block;
    width: auto;
    white-space: nowrap;
    padding: 15px 5px;
}

.dropdown__menu a:hover {
    text-decoration: underline;
}

.dropdown__hover:hover .dropdown__menu {
    display: inline-block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* stylowanie hamburgera */
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: block;
    width: 26px;
}
/* #toggle {
    display: none;
} */

.hamburger {
    display: none;
}

@media only screen and (max-width: 500px) {
    .hamburger {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #eaeaea;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        border: none;
    }

    .menu {
        display: none;
    }

    #toggle:checked .menu {
        display: block;
    }
}
